@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Book List Website!</h1>
    <p>Click on a menu item to explore the site!</p>
    <br />
    <img src="~/imgs/bookforhome.jpg"/>
</div>
