@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4 text-dark">Welcome to the Book List Website!</h1>
        <br />
        <img src="~/imgs/bookforhome.jpg" />
    </div>
